<!-- Sidebar -->

    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Manage
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/manager/menu-management">MENU MANAGEMENT</a>
                </li>
                <li class="list-group-item">
                    <a href="/manager/order-management">ORDER MANAGEMENT</a>
                </li>
                <li class="list-group-item">
                    <a href="/manager/stock-management">STOCK MANAGEMENT</a>
                </li>
                <li class="list-group-item">
                    <a href="/manager/employee-management">EMP MANAGEMENT</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
      
<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 shadow-lg p-3 mb-5 rounded bg-white">
                <h1 class="display-6">Personal Info</h1><br/>
                 <a href="#menu-toggle" class="btn btn-danger" id="menu-toggle">Toggle Menu</a><br/><br/>
                 <div class="card" style="width: 18rem;">
                     {{#each data}}
                <img src="{{this.profile_pic}}" class="card-img-top">
                    {{/each}}
                <div class="card-body shadow-lg p-3 mb-5 rounded bg-white">
    <h5 class="card-title text-center">Details</h5>
    <p class="card-text">
        {{#each data}} 
        Name : {{this.emp_name}}<br/>
        Age : {{this.emp_age}}<br/>
        Email : {{this.email}}<br/>
        Gender : {{this.emp_gender}}<br/>
        Role : {{this.emp_role}}<br/>
        Role : {{this.job}}<br/>
        Username : {{this.username}}<br/>
        Password : {{this.password}}<br/>
        Joining date : {{this.joining_date}}<br/>
        {{/each}}
        </p>
    <a href="#" class="btn btn-primary">Edit</a>
  </div>
</div>
            </div>
        </div>
    </div>

    
</div>
        <!-- /#page-content-wrapper -->

</div>
    <!-- /#wrapper -->

     
