<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href ="/css/home.css"/>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHOwQ5dA99ZcqLcmd5wnL96P-9_Wc4P1aO-Wq45oEdrgcnuZeS4Q" class ="logo"></a>
          
             <span class="navbar-text expressotext">
                    <h2>Expresso Outlet</h2>
            </span>

           <div class="collapse navbar-collapse  justify-content-end" id="navbarText">

                    <ul class="navbar-nav float-md-right">
                    <li class="nav-item  {{addnavlink}}">
                        <a class="nav-link" style="text-align: right" href="/home"><em><strong>Home</strong></em></a>
                    </li>
                    <li class="nav-item{{addnavlink}}">
                        <a class="nav-link" style="text-align: right" href="/aboutus"><em><strong>About us</strong></em></a>
                    </li>
                    <li class="nav-item{{addnavlink}}">
                        <a class="nav-link" style="text-align: right" href="/speciality"><em><strong>Speciality</strong></em></a>
                    </li>
                     <li class="nav-item{{addnavlink}}">
                        <a class="nav-link"  style="text-align: right" href="/contactus"><em><strong>Contact Us</strong></em></a>
                    </li>
                     <li class="nav-item{{addnavlink}}">
                        <a class="nav-link" style="text-align: right" href="/login"><em><strong>Login</strong></em></a>
                    </li>
                </ul>
                   
            </div> 


        </div>
    </nav>



   
        {{{body}}}


      





    <script   src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

    {{!-- <script src = "{{script}}"></script> --}}
    

 {{!-- <footer>
        <div class = "footer"> 
                
                <a href = "#"> ad1 </a>
                <span style="display:inline-block; width: 20em;"></span><a href = "#"> ad2 </a>
                <span style="display:inline-block; width: 20em;"></span><a href = "#"> ad3 </a> 
        </div>
    </footer> --}}



</body>
    

   

</html>